body, html {
    height: 100%;
    margin: 0;
}

body, html, input[type='text'], input[type='number'], option, .task_leg_label {
    font-family: monospace;
}

input[type='text'], input[type='number'] {
    border-style: solid;
}

table {
    border-collapse: collapse;
    border-style: none;
    margin: 4px;
}

td, th {
    border: 1px solid black;
}

td {
    padding: 4px;
}

.clickable {
    cursor: pointer;
}

.del_row {
    color: #CE0000;
}

.invisible {
    display: none;
}

.no_border {
    border-style: none;
}

.meters {
    text-align: right;
    width: 4em;
}

.task_leg_label_wrapper {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
}

.task_leg_label {
    background-color: #000000;
    border-radius: 4px;
    color: #DDDDDD;
    font-size: 80%;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    white-space: nowrap;
}

.turnpoint_insert_symbol {
    color: #00DD00;
}

.turnpoint_name {
    width: 6em;
}

.turnpoint_type {
    width: 4em;
}

.wp_type {
    width: 5em;
}

#new_waypoint_tr {
    text-align: center;
}

@keyframes menu_hide {
    0% {
        width: 25em;
    }
    100% {
        width: 0em;
    }
}

@-webkit-keyframes menu_hide {
    0% {
        width: 25em;
    }
    100% {
        width: 0em;
    }
}

@keyframes menu_show {
    0% {
        width: 0em;
    }
    100% {
        width: 25em;
    }
}

@-webkit-keyframes menu_show {
    0% {
        width: 0em;
    }
    100% {
        width: 25em;
    }
}

#map_div {
    height: 100%;
}

#menu_div,
#menu_wrap_div {
    width: 25em;
}

#menu_div {
    height: 100%;
    overflow: scroll;
}

#menu_toggle_span {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 32px 4px;
}

#menu_toggle_span,
#similar_bottom_div,
#similar_label_div,
#task_bottom_div,
#task_label_div,
#waypoints_bottom_div,
#waypoints_label_div {
    background-color: #DDDDDD;
}

#menu_toggle_span:hover,
#similar_label_div:hover,
#task_label_div:hover,
#waypoints_label_div:hover {
    background-color: #EEEEEE;
}

#menu_toggle_wrap_div {
    height: 100px;
    position: absolute;
    right: -100px;
    top: 50%;
    width: 100px;
    z-index: 1;
}

#menu_wrap_div {
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    float: left;
    height: 100%;
    overflow: hide;
    position: relative;
}

#share_button {
    display: block;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}

#share_table {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#share_qr_img {
    display: block;
    height: 600px;
    margin: auto;
    width: 600px;
}

#share_url_short_input, #share_url_long_input {
    display: block;
    margin: auto;
    margin-top: 48px;
    width: 600px;
}

@keyframes similar_foldup {
    0% {
        height: 0px; /* will be set dynamically */
    }
    100% {
        height: 0px;
    }
}

@-webkit-keyframes similar_foldup {
    0% {
        height: 0px; /* will be set dynamically */
    }
    100% {
        height: 0px;
    }
}

@keyframes similar_folddown {
    0% {
        height: 0px;
    }
    100% {
        height: 0px; /* will be set dynamically */
    }
}

@-webkit-keyframes similar_folddown {
    0% {
        height: 0px;
    }
    100% {
        height: 0px; /* will be set dynamically */
    }
}

@keyframes task_foldup {
    0% {
        height: 0px; /* will be set dynamically */
    }
    100% {
        height: 0px;
    }
}

@-webkit-keyframes task_foldup {
    0% {
        height: 0px; /* will be set dynamically */
    }
    100% {
        height: 0px;
    }
}

@keyframes task_folddown {
    0% {
        height: 0px;
    }
    100% {
        height: 0px; /* will be set dynamically */
    }
}

@-webkit-keyframes task_folddown {
    0% {
        height: 0px;
    }
    100% {
        height: 0px; /* will be set dynamically */
    }
}

#similar_bottom_div,
#task_bottom_div,
#waypoints_bottom_div {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 0.5em;
    margin-bottom: 4px;
    text-align: center;
}

#similar_div {
    text-align: center;
}

#similar_div,
#task_div,
#waypoints_div {
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    overflow: hidden;
}

#similar_label_div,
#task_label_div,
#waypoints_label_div {
    border-bottom: 1px dashed #BBBBBB;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    position: relative;
    text-align: center;
}

#similar_label_hide_span,
#similar_label_show_span,
#task_label_hide_span,
#task_label_show_span,
#waypoints_label_hide_span,
#waypoints_label_show_span {
    position: absolute;
    right: 0;
}

#task_save_button {
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}

#task_summary_div {
    margin: 4px;
    text-align: center;
}

#task_table {
    margin-left: auto;
    margin-right: auto;
}

#task_buttons_table,
#waypoints_buttons_table {
    width: 100%;
}

#task_buttons_table,
#task_buttons_table td,
#waypoints_buttons_table,
#waypoints_buttons_table td {
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes waypoints_foldup {
    0% {
        height: 0px; /* will be set dynamically */
    }
    100% {
        height: 0px;
    }
}

@-webkit-keyframes waypoints_foldup {
    0% {
        height: 0px; /* will be set dynamically */
    }
    100% {
        height: 0px;
    }
}

@keyframes waypoints_folddown {
    0% {
        height: 0px;
    }
    100% {
        height: 0px; /* will be set dynamically */
    }
}

@-webkit-keyframes waypoints_folddown {
    0% {
        height: 0px;
    }
    100% {
        height: 0px; /* will be set dynamically */
    }
}

#waypoints_table {
    margin-left: auto;
    margin-right: auto;
}

/* vim: set shiftwidth=4 tabstop=4 expandtab: */
