body, html {
    height: 100%;
    margin: 0;
    /*font-size: 0.8em;*/
}

body, html, input[type='text'], input[type='number'], option {
    font-family: monospace;
}

input[type='text'], input[type='number'] {
    border-style: solid;
}

table {
    border-collapse: collapse;
    margin: 4px;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 4px;
}

.altitude {
    text-align: right;
    width: 4em;
}

.del_wp {
    cursor: pointer;
}

.wp_type {
    width: 5em;
}

#new_waypoint_tr {
    text-align: center;
}

#map_div {
    float: right;
    height: 100%;
    width: 84%;
}

#menu_div {
    float: left;
    height: 100%;
    overflow: scroll;
    width: 16%;
}

#share_table {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

#share_qr_img {
    display: block;
    height: 600px;
    margin: auto;
    width: 600px;
}

#share_url_short_input, #share_url_long_input {
    display: block;
    margin: auto;
    margin-top: 48px;
    width: 600px;
}

#waypoints_buttons_table {
    width: 100%;
}

#waypoints_buttons_table, #waypoints_buttons_table td {
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#waypoints_fold_div, #waypoints_label_div {
    background-color: #DDDDDD;
}

#waypoints_fold_div:hover {
    background-color: #EEEEEE;
}

#waypoints_fold_div {
    cursor: pointer;
    text-align: center;
}

#waypoints_fold_when_hid_span {
    display: none;
}

#waypoints_fold_when_vis_span {
    display: inline;
}

#waypoints_label_div {
    text-align: center;
}

@keyframes waypoints_foldup {
    0% {
        height: 0px; /* will be set dynamically */
    }
    100% {
        height: 0px;
    }
}

@-webkit-keyframes waypoints_foldup {
    0% {
        height: 0px; /* will be set dynamically */
    }
    100% {
        height: 0px;
    }
}

@keyframes waypoints_folddown {
    0% {
        height: 0px;
    }
    100% {
        height: 0px; /* will be set dynamically */
    }
}

@-webkit-keyframes waypoints_folddown {
    0% {
        height: 0px;
    }
    100% {
        height: 0px; /* will be set dynamically */
    }
}

#waypoints_div {
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    overflow: hidden;
}

#waypoints_table {
    margin-left: auto;
    margin-right: auto;
}

/* vim: set shiftwidth=4 tabstop=4 expandtab: */
