body, html {
    height: 100%;
    margin: 0;
    /*font-size: 0.8em;*/
}

body, html, input[type='text'], input[type='number'], option {
    font-family: monospace;
}

input[type='text'], input[type='number'] {
    border-style: solid;
}

table {
    border-collapse: collapse;
    margin: 4px;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 4px;
}

.altitude {
    text-align: right;
    width: 4em;
}

.del_wp {
    cursor: pointer;
}

.wp_type {
    width: 5em;
}

#load_waypoints_button {
    margin: 4px;
}

#new_waypoint_tr {
    text-align: center;
}

#map_div {
    float: right;
    height: 100%;
    width: 84%;
}

#menu_div {
    float: left;
    height: 100%;
    overflow: scroll;
    width: 16%;
}

/* vim: set shiftwidth=4 tabstop=4 expandtab: */
